.products {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.products-container {
  margin: 0px 10px 40px;
}

.category-header span {
  text-transform: capitalize;
  font-weight: 500;
}

.category-header {
  padding: 10px 0px 20px 10px;
}

.Marquee {
  background-color: rgba(255, 153, 0, 0.24);
  max-width: calc(100vw - 217px);
  overflow-x: hidden;
}

.MarqueeContent {
  font-size: 22px;
  max-width: fit-content;
  white-space: nowrap;
}

@media screen and (max-width: 900px) {
  .Marquee {
    max-width: 100vw;
  }
}
