.profile-info-container {
  max-width: 615px;
  padding-inline: 15px;
  width: 100%;
  margin-inline: auto;
}

.profile-info-container .MuiInputBase-root {
  margin-bottom: 10px;
}
.profile-info-container input {
  width: 100%;
  padding: 6px;
  margin: 4px 0px 4px 0px;
  height: 35px;
  border: 1px solid #cacaca;
}
.profile-info-container select {
  width: 100%;
  padding: 6px;
  margin: 4px 0px 4px 0px;
  height: 35px;
  border: 1px solid #cacaca;
}
.profile-info-container textarea {
  width: 100%;
  padding: 6px;
  margin: 4px 0px 4px 0px;
  /* height: 35px; */
  border: 1px solid #cacaca;
}

.profile-info-container input:focus {
  outline: none;
}

.profile-info-container textarea:focus {
  outline: none;
}

.profile-info-container label {
  font-size: 14px;
}

.react-tel-input .form-control {
  width: 100% !important;
  /* padding: 6px !important; */
  /* margin: 4px 0px 4px 0px !important; */
}
.react-tel-input {
  margin: 4px 0px 4px 0px !important;
}
/* 
.user-phone-label {
} */
