#start {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

#center {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0 1 615px;
  min-width: 0px;
  margin-right: 66px;
}

.search-bar-container {
  width: 100%;
  position: relative;
  /* height: 30px; */
}

.search-input {
  width: 100%;
  height: 100%;
  height: 32px;
  border: 0;
  padding-left: 10px;
  background-color: #e6e4e4;
}

.search-input:focus {
  outline: none;
}

.search-button-container {
  position: absolute;
  top: 0;
  right: 0;
  /* background-color: white; */
}

#end {
  margin-left: 8px;
}

#end div a {
  text-decoration: none;
  color: inherit;
}

.each-menu-item {
  height: 40px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  color: unset;
  font-size: 14px;
  padding-bottom: 5px;
}

.each-menu-item:hover {
  background-color: rgba(255, 153, 0, 0.24);
}

@media (max-width: 900px) {
  #center {
    margin-right: 0px;
  }
}
